PORT=your_port
NODE_ENV=your_env

MONGO_URI=mongodb_connection_string
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET

REDIS_HOST=redis_host
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password

IMAGEKIT_PRIVATE_KEY=imagekit_private_key