// ? Flex Center
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ? Flex Center Column
@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}