.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  padding: 0.8rem 1.5rem;

  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(10px);
  border-top: $card-border;
}

/* LEFT */

.song-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .cover-small {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    object-fit: cover;
  }

  .song-text {
    h4 {
      font-size: 0.9rem;
      font-weight: 500;
    }

    p {
      font-size: 0.75rem;
      color: $muted;
    }
  }
}

/* CENTER */

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  button {
    background: none;
    border: none;
    color: $text;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
  }
  button:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .play-btn {
    background: $accent;
    padding: 0.6rem;
    border-radius: 50%;
    @include center;
    transition: 0.2s;
  }
  .play-btn:hover {
    transform: scale(1.1);
  }
  .play-btn.active {
    background: lighten($accent, 8%);
  }
}

.progress-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: 0.9rem;
    color: $muted;
  }

  input {
    height: 4px;
    cursor: pointer;
  }
}

/* RIGHT */

.volume-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  input {
    width: 70px;
    transition: 0.2s;
    height: 4px;
    cursor: pointer;
  }
}
